form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 500px;
}

form label {
	flex-basis: 100%;
	margin-bottom: 10px;
	text-align: left;
}

form input {
	flex-basis: 100%;
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

form button {
	flex-basis: 100%;
	padding: 10px;
	background-color: #0071C5;
	color: white;
	border: none;
	cursor: pointer;
}
